<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'train_track/css/style.css' %}">

</head>
<body>
<header>
    <a href="/"><img  id="logo" src="../../static/train_track/img/logo_white.png" alt="logo"></a>
    <nav>
        <a href="/getrandom/">Get a random train !</a>
        <form id="searchForm" method="GET">
            <input id="searchbar" name="train_id" placeholder="Recherche de train par ID" type="search">
        </form>
    </nav>
</header>

<main>
    <table>
        <thead>
            <tr>
                <th scope="col">Train</th>
                <th scope="col">Destination</th>
                <th scope="col">Départ</th>
                <th scope="col">Arrivée</th>
            </tr>
        </thead>
        <tbody>
            {% for ele in Train %}
            <tr>
                <th><img src="../../static/train_track/img/picto_ligne/{{ele.name}}.svg" alt=""></th>
                <td>{{ele.destination}}</td>
                <td>{{ele.date_start}}</td>
                <td>{{ele.date_end}}</td>
                <td><a href="/show/{{ele.trainID}}">Détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<script src="{% static 'train_track/js/script.js' %}"></script>
</body>
</html>