<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'train_track/css/style.css' %}">

</head>
<body>
<header>
    <a href="/"><img  id="logo" src="../../static/train_track/img/logo_white.png" alt="logo"></a>
    <nav>
        <a href="/getrandom/">Get a random train !</a>
        <form id="searchForm" method="GET">
            <input id="searchbar" name="train_id" placeholder="Recherche de train par ID" type="search">
        </form>
    </nav>
</header>

<main>
    <article id="details_article">
        <div id="title_div">
            <h1><img src="../../static/train_track/img/picto_ligne/{{name}}.svg" alt="{{name}}"></h1>
            <h2> {{ destination }}</h2>
        </div>
        <div id="plan_div">
             <img id="plan" src="../../static/train_track/img/plan/{{plan}}" alt="" onclick="displayLargeImage()">
        </div>
        <p>Clique sur la carte pour l'agrandire !</p>
    </article>

</main>
<footer>
</footer>
<script src="{% static 'train_track/js/script.js' %}"></script>
</body>
</html>